@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button:hover {
  box-shadow:
    0 0 5px #1435B0,
    0 0 10px #1435B0,
    0 0 40px #1435B0;
}

@media (max-width:1308px) {
  .back-image {
    top: 875px !important;
  }
}

.radial-border,
.radial-border2:hover {
  background: linear-gradient(90deg, #FFE239, #FC6BA4);
}

.radial-border2 {
  background: transparent;
}

.radial-border2 button {
  background: transparent;
  border: 2px solid #373448;
  color: #9BA3B1;

}

.radial-border2:hover button {
  background: #282634;
  color: #ECF3FF;
}



.gradient-text {
  background: linear-gradient(to bottom , #FFE239, #FC6BA4);
  -webkit-background-clip: text;
  color: transparent;
}


.gradient-text2 {
  background: linear-gradient(to right , #FFE239, #FC6BA4);
  -webkit-background-clip: text;
  color: transparent;
}

/* Style the scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 104px;
}



.scrollbar::-webkit-scrollbar-thumb {
  background-color: #59636F;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.time-bg {
  background-image: url("/assets/images/coins-rectangle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.text-shadow2 {
  text-shadow: 16px -7px 4px rgba(255, 255, 255, 0.3);
  position: relative;
}

.text-shadow3 {
  text-shadow: 16px -7px 4px rgba(255, 226, 57, 0.3);
  position: relative;
}

.text3 {
  background: linear-gradient(to right, rgba(255, 226, 57, 1), rgba(255, 226, 57, 0.5));
  background-clip: text;
  color: transparent;
}


.button2:hover {
  box-shadow:
    0 0 7px #FFE239,
    0 0 5px #FFE239,
    0 0 25px #FC6BA4;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.participate-button {
  background: linear-gradient(to right, #FFE239, #FC834E, #EA397E);
}

.home-text{
  background: linear-gradient(to right ,rgba(236, 243, 255, 1), rgba(251, 229, 97, 0.88) , rgba(236, 243, 255, 0.62));
  -webkit-background-clip: text;
  color: transparent;
}

.about-background{
  background: linear-gradient(to right ,rgba(46, 95, 225, 0.4) ,rgba(60, 68, 125, 0.4));
}
.about-background2{
  background: linear-gradient(to right ,rgba(60, 68, 125, 0.3) ,rgba(46, 95, 225, 0.3));
}
.about-background3{
  background: linear-gradient(to right ,rgba(60, 68, 125, 0.4) ,rgba(46, 95, 225, 0.4));
}